<!-- Partial for the activity tasks -->

<style>

	.activity-bar {
		margin: 5px;
		position: relative;
		padding-left: 0;
		height: 100%;
	}

	.activity-bar-id {
		height: 100%;
		position: relative;
		margin: 15px;
		margin-left: 10px;
		font-size: 90%;
	}	

	.activity-bar-content {
		padding: 15px;
		width: 70%;
		overflow: hid;
	}

	.activity-bar:hover {
		cursor: pointer;
		opacity: .7;
	}
</style>


<% if activity.is_completed? %>
	<div class="activity-bar alert alert-block alert-success">
	    <!-- <button data-dismiss="alert" class="close close-sm" type="button"> -->
	    <!-- <i class="fa fa-times"></i> -->
	    <!-- </button> -->
	    <span class="activity-bar-id"><%= activity.a_id %></span>
	    <span class="activity-bar-content"><strong style="font-size: 90%;"><strike> <%= activity.content %></strong> <span style="font-size: 80%;">(<%= activity.duration %> min)</span> </strike>
	    	<span style="float: right; font-size: 80%;"> <i class="fa fa-check"></i> </span>
	    </span>
	 </div>	
<% else %>

	<div class="activity-bar alert alert-block alert-danger">
	    <!-- <button data-dismiss="alert" class="close close-sm" type="button"> -->
	    <!-- <i class="fa fa-times"></i> -->
	    <!-- </button> -->
	    <span class="activity-bar-id"><%= activity.a_id %></span>
	    <span class="activity-bar-content"><strong style="font-size: 90%;"><%= activity.content %></strong> <span style="font-size: 80%;">(<%= activity.duration %> min)</span>

	    	<!-- Psuedo Rewards with points condition -->
	    	<% if current_user.experimental_condition == "Initial condition" %>
	    		<span style="float: right; font-size: 80%;"><%= activity.points %> <i class="fa fa-star-o"></i> </span>
	    	<% end %>
	    </span>
	 </div>


<% end %>



