<!-- Partial for the activity tasks -->

<style>

	.activity-bar {
		margin: 5px;
		position: relative;
		padding-left: 0;
		height: 100%;
		box-shadow: rgba(0, 0, 0, 0.238281) 0px 1px 5px;
		border-top-left-radius: 2px 2px;
    	border-top-right-radius: 2px 2px;
    	border-bottom-right-radius: 2px 2px;
    	border-bottom-left-radius: 2px 2px;
	}

	.activity-bar-id {
		height: 100%;
		position: relative;
		margin: 15px;
		margin-left: 10px;
		font-size: 90%;
	}	

	.activity-bar-content {
		padding: 15px;
		width: 70%;
		overflow: hidden;
	}

	.activity-bar:hover {
		cursor: pointer;
		opacity: .7;
	}
</style>

<% if activity.is_completed? %>
	<div class="activity-bar alert alert-block alert-success">

	<% if current_user.is_admin? %>
	    <button data-dismiss="alert"  class="close close-sm" type="button" onclick='removeActivity(<%= activity.a_id %>)'> 
		    <i class="fa fa-times"></i> 
	    </button>
	<% end %>
	    <span class="activity-bar-id"><%= activity.a_id %></span>
	    <span class="activity-bar-content"><strong style="font-size: 90%;"><strike> <%= activity.content %></strong> <span style="font-size: 80%;">(<%= activity.duration %> min)</span> </strike>
	    	<span style="float: right; font-size: 80%;"> <i class="fa fa-check"></i> </span>
	    </span>
	 </div>	
<% else %>

	<div class="activity-bar alert alert-block alert-danger">
	    <!-- <button data-dismiss="alert" class="close close-sm" type="button"> -->
	    <!-- <i class="fa fa-times"></i> -->
	    <!-- </button> -->

	<% if current_user.is_admin? %>
	    <button data-dismiss="alert" class="close close-sm" type="button" onclick='removeActivity(<%= activity.a_id %>)'> 
	    <i class="fa fa-times"></i> 
	    </button>
	<% end %>
	    <span class="activity-bar-id"><%= activity.a_id %></span>
	    <span class="activity-bar-content"><strong style="font-size: 90%;"><%= activity.content %></strong> <span style="font-size: 80%;">(<%= activity.duration %> min)</span>
	    	<!-- Psuedo Rewards with points condition -->
	    	<% if current_user.experimental_condition == "Initial condition" %>
            <span style="float: right; font-size: 80%;"><%= @current_point_values[activity.a_id-1] %> <i class="fa fa-star-o"></i> </span>
	    	<% elsif current_user.experimental_condition == "points condition" || current_user.experimental_condition == "constant points"%>
	    		<span style="float: right; font-size: 80%;"><%= @current_point_values[activity.a_id-1] %> <i class="fa fa-star-o"></i> </span>
			<% elsif current_user.experimental_condition == "monetary condition"  %>
	    		<span style="float: right; font-size: 80%;"><i class="fa fa-usd"></i> <%= @current_point_values[activity.a_id-1].to_f/100 %>0  </span>	    		
	    	<% end %>
	    </span>
	 </div>


<% end %>


<script>
	var removeActivity = function(activity_id){
		console.log("Deleting activity");
		console.log(activity_id);
     		$.get('/delete_activity/' + String(activity_id), function(data){ 
        		console.log("deleting activity");
      		});
	}
	
</script>
