<!-- Activity partial -->

<div class="activities-wrapper">
  <div class="activity">
    <div class="activity-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= activity.user.user_name %>
      </div>
    </div>
    <div class="image center-block">
    	<%= link_to (image_tag activity.image.url(:medium), class:'img-responsive'), activity_path(activity) %>
    </div>

    <div class="activity-bottom">
      <div class="caption">
        <div class="user-name">
          <%= activity.user.user_name %>
        </div>
        <%= activity.content %>
      </div>
      <% if activity.comments %>
        <% activity.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
              <%= comment.user.user_name %>
            </div>
            <div class="comment-content">
              <%= comment.content %>
            </div>
            <% if comment.user == current_user %>
           		<%= link_to activity_comment_path(activity, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
           		<!-- Comment deletion bug? -->
                <span class="glyphicon glyphicon-remove delete-comment">
 					
                </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for [activity, activity.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...' %>
        <% end %>
      </div>
    </div>
  </div>
</div>