<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!--breadcrumbs start -->
         <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><a href="#">Welcome</a></li>
            <li class="active">Intro</li>
         </ul>
         <!--breadcrumbs end -->
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="description-heading">
            <h4>Welcome. </h4>


            <!-- Start hidden paragraph -->
            <div id="hiddenIntro">
               <p>Welcome to the to-do list experiment! Clicking on "My Tasks" in the menu will bring up your to-do list. When you work on these tasks is completely up to you. You can log in any time, take a break, or log out whenever you feel like it. 
               <br>
                   <p> There are 10 tasks in total and you may complete as many or as few as them as you like. The tasks belong to two separate projects. Both projects have their deadline on <strong> October 31 2018 </strong> at 12am Pacific Time (midnight). If you complete both projects by the deadline, you earn $21. If you complete Project 1 but not Project 2 you earn a bonus of $20. If you complete Project 2 but not Project 1 you earn a bonus of $1. For completed tasks of incomplete projects you will only receive a small compensation of $3 per hour worth of completed tasks. </p>

               <br>  <p> To get started, click on "Initialize To-do List" down below to bring up your to-do list, and then click "My Tasks" to get started, and then choose your first task from the to-do list on the right. </p>
            <!-- End hidden paragraph -->
               <br>
               <% if current_user.experimental_condition == "Initial condition" %>
                   <%= link_to "Initialize To-do List", set_default_activities_path(:current_user => current_user.id), :class => "btn btn-info btn-md", :id => "set_default_act_btn" %>     
               <% end %>

            </div>
         </div>
      </div>
   </div>
   <style>
      .leaderboard {
      width: 100%;
      } 
   </style>


   <% if current_user.is_admin? %>
      <div class="row">
         <div class="col-md-8 leaderboard">
            <section class="panel">
               <header class="panel-heading">
                  Users DashBoard. <strong> Visible only to Admins </strong>
               </header>
               <div class="panel-body table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Subject Alias</th>
                           <th>Total Points</th>
                           <!-- <th>Client</th> -->
                           <th>Level</th>
                           <!-- <th>Price</th> -->
                           <th>Status</th>
                           <th>Is active</th>
                        </tr>
                     </thead>
                     <tbody>
                        <%  @users.each do |user| %>
                        <tr>
                           <td> <%= user.id %></td>
                           <td> <%= user.user_name %></td>
                           <td> <%= user.score %></td>
                           <td> <%= user.level %></td>
                           <td><span class="label label-danger"><%= user.experimental_condition %></span></td>
                           <td><span class="badge badge-info"><%= user.is_active %></span></td>
                        </tr>
                        <% end %> 
                     </tbody>
                  </table>
               </div>
            </section>
         </div>
      </div>

   <% end %>
</section>
<!--  -->
<!-- <h1 class="header-text"> Cognitive Tools for Self Mastery</h1> -->
<!-- <h3 style="text-align: center"> All tasks </h3> -->
<div class="activities-wrapper row">
   <% @activities.each do |activity| %>
   <!-- Insert activity partial here -->
   <%= render 'activity', activity: activity %>
   <% end %>
</div>


<script>

</script>