<!-- only displaying my activities -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><a href="#">My Activities</a></li>
                <li class="active"> <%= current_user.user_name %> </li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        	<div class="description-heading my-tasks-heading">
        		<h4>Listing all activities for <%= current_user.user_name %> </h4>
        		<p>Here are all of your personal activities for the procrastination experiment</p>
        	</div>
        </div>
    </div>




    <div class="row" style="padding: 15px;">

                <div class="col-md-2">
                    <div class="stat">
                        <div class="stat-icon" style="color:#45cf95;">
                            <i class="fa fa-check-square-o fa-3x stat-elem"></i>
                        </div>
                        <h5 class="stat-info">928 Tasks</h5>
                    </div>
                </div>    

                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>




<!--         <section class="panel">
            <header class="panel-heading">
                Striped Progress Bars
            </header>
            <div class="panel-body">
                <div class="col-md-2">
                    <div class="stat">
                        <div class="stat-icon" style="color:#45cf95;">
                            <i class="fa fa-check-square-o fa-3x stat-elem"></i>
                        </div>
                        <h5 class="stat-info">928 Tasks</h5>
                    </div>
                </div>    

                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
            </div>
        </section> -->
    </div>

</section>


<!-- <h2 style="text-align:center;"> Displaying my activities</h2> -->
<!-- <div style="text-align:center;"> <%= current_user.user_name %> </div> -->

<style>

    .entire-activity-display {
        position: relative;
        height: 500px;
    }
    .activity-display {
        position: relative;
        border: 1px solid #eee;
        height: 80%;
        width: 95%;
        padding-bottom: 5px;
    }

    .panel-body {

    }

    .clear:before,
    .clear:after {
      content:" ";
      display:table;
    }
    .clear:after {
      clear:both;
    }

    #activity-progress-input {
        width: 70%;
        margin-right: 15px;
        padding: 0;
    }

</style>


<div class="row" style="margin: 10px;">
    <div class="col-md-8">
       <!--Activity Main Screen-->
       <section class="panel entire-activity-display">
          <header class="panel-heading">
            Activity Display
          </header>
          <div class="panel-body clear">
             <div class="container" style="width: 600px; height: 330px;">
                 <section class="panel general activity-display">
                            <header class="panel-heading tab-bg-dark-navy-blue">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#home">First </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#about">Second </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#profile">Third</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#contact">Fourth</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="home" class="tab-pane active">
                                        <%= render 'activityPanelContent' %>
                                    </div>
                                    <div id="about" class="tab-pane">
                                        Second panel activity
                                    </div>
                                    <div id="profile" class="tab-pane">
                                        Third panel activity
                                    </div>
                                    <div id="contact" class="tab-pane">
                                        <%= render 'activityPanelContent' %>
                                    </div>
                                </div>
                            </div>
                </section>
                <div class="row" style="padding: 15px;">
                  <form class="form-inline" role="form">
                      <div class="form-group">
                          <input type="email" class="form-control" id="activity-progress-input" placeholder="Activity Progress">
                      </div>
                      <button type="submit" class="btn btn-success">Update Activity</button>
                  </form>




                    <button class="btn btn-danger"> Finish Activity </button>
                    <button class="btn btn-info"> Export </button>
                    <button class="btn btn-warning"> Log </button>


                </div>

             </div>
          </div>

       </section>
       <!--earning graph end-->
    </div>

    
    <div class="col-lg-4">
       <!--chat start-->
       <section class="panel">
          <header class="panel-heading">
             My Activity List
          </header>
          <div class="panel-body" id="noti-box">

            <div class="activities-wrapper row">
              <% @activities.each do |activity| %>
                <!-- Insert Activity partial only if activity id matches with current logged in user -->
                <% if current_user.id == activity.user_id %>
                    <%= render 'activityBar', activity: activity %>
                <% end %>
              <% end %>
            </div>
             <div class="alert alert-warning">
                <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
                </button>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
             </div>
          </div>
       </section>
    </div>
<!-- End row -->
</div>

<div class="activities-wrapper row">
  <% @activities.each do |activity| %>
    <!-- Insert Activity partial only if activity id matches with current logged in user -->
    <% if current_user.id == activity.user_id %>
    	<%= render 'activity', activity: activity %>
    <% end %>
    
  <% end %>
</div>
