
<style>
	.user-container {
		width: 60%;
		margin-top: 50px;
		background: #ffffff;
		padding: 15px;
		/*border-radius: 5px;*/
        box-shadow: rgba(0, 0, 0, 0.15625) 0px 1px 5px;
        border-top-left-radius: 2px 2px;
        border-top-right-radius: 2px 2px;
        border-bottom-right-radius: 2px 2px;
        border-bottom-left-radius: 2px 2px;

	}

	.user-jumbo {
		height: 100%;
		margin-bottom:0;
        box-shadow: rgba(0, 0, 0, 0.15625) 0px 1px 5px;
        border-top-left-radius: 2px 2px;
        border-top-right-radius: 2px 2px;
        border-bottom-right-radius: 2px 2px;
        border-bottom-left-radius: 2px 2px;
	}

	.export-buttons {
		margin-top: 15px;
		margin-bottom: 10px;
		margin-left: 5px;
	}

	.admin-container {
		width: 60%;
		margin-top: 50px;
		background: #ffffff;
		height: 400px;
		padding: 15px;
		border-radius: 5px;
	}	
	
</style>



<div class="user-container container">
	<div class="jumbotron user-jumbo">
	  <h1 style="text-align:center;"> Account & Help </h1>
	  <p>
			<div style="text-align:center;"> <strong> Username: </strong> <%= current_user.user_name %></div>
			<% if current_user.experimental_condition == "points condition" %>
				<div style="text-align:center;"> <b> Score: </b><%= current_user.score %> </div>
				<div style="text-align:center;"> <b> Level: </b><%= current_user.level %> </div>
			<% elsif current_user.experimental_condition == "monetary condition" %>
				<div style="text-align:center;"> <b> Money Earned: <i class="fa fa-usd"></i> </b><%= current_user.score.to_f / 10.0 %>0 </div>
				<div style="text-align:center;"> <b> Level: </b><%= current_user.level %> </div>
			<% end %>
	  </p>
	  <p style="text-align: center;"><a class="btn btn-primary btn-lg" data-toggle="modal" href="#myModal3">Contact</a></p>
	</div>

	<style>
		#set_default_act_btn {
			font-size: 80%;
		}

	</style>
	<div class="row export-buttons">
		<!-- <a class="btn btn-info btn-md" href="/quit_experiment" role="button" style="font-size: 80%;"> Set Activities</a> -->

		<% if current_user.is_admin? %>
			<a class="btn btn-warning btn-md" data-toggle="modal" href="#myModal2" style="font-size: 80%;"> Export Experiment Code</a>
			<a class="btn btn-success" data-toggle="modal" href="#myModal" style="font-size: 80%;"> About this Experiment</a>
		<% else %>

			<!-- To get rid of the setting activities only once feature -->
			<!-- <%= link_to "Set Activities", set_default_activities_path(:current_user => current_user.id), :class => "btn btn-info btn-md", :id => "set_default_act_btn" %> 	 -->

			<% if current_user.experimental_condition == "points condition" or current_user.experimental_condition == "constant points" %> 
				<% if current_user.finished_all_activities %>
					<a class="btn btn-warning btn-md" data-toggle="modal"  href="#myModal2" style="font-size: 80%;" onclick="generate_code()"> Generate Bonus Code</a>
				<% else %>
					<a class="btn btn-warning btn-md" data-toggle="modal" disabled=true  style="font-size: 80%;"> Generate Bonus Code</a>
				<% end %>
			<% elsif current_user.experimental_condition == "monetary condition" %>
				<a class="btn btn-warning btn-md" data-toggle="modal"  href="#myModal2" style="font-size: 80%;" onclick="generate_code()"> Generate Bonus Code</a>
			<% elsif current_user.experimental_condition == "control condition" %>
				<% if current_user.finished_all_activities %>
					<a class="btn btn-warning btn-md" data-toggle="modal"  href="#myModal2" style="font-size: 80%;" onclick="generate_code()"> Generate Bonus Code</a>
				<% else %>
					<a class="btn btn-warning btn-md" data-toggle="modal" disabled=true  style="font-size: 80%;"> Generate Bonus Code</a>
				<% end %>
			<% else %>

					<a class="btn btn-warning btn-md" data-toggle="modal" disabled=true  style="font-size: 80%;"> Generate Bonus Code</a>
			<% end %>	

			<a class="btn btn-success" data-toggle="modal" href="#myModal" style="font-size: 80%;"> About this Experiment</a>

			<a class="btn btn-danger btn-md" data-toggle="modal" href="#myModal4" onclick="quit_generate_code()" style="font-size: 80%;"> Quit Experiment</a>
		<% end %>
	    <!-- Modal -->
	    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                    <h4 class="modal-title">About this Experiment</h4>
	                </div>
	                <div class="modal-body">
	                	<p> 
							This HIT is a psychology experiment being conducted by Falk Lieder, a graduate student in Professor Tom Griffiths’s Computational Cognitive Science Lab at the University of California, Berkeley. This web application was built by Owen Chen, a research assistant under Falk Lieder.
						</p>
						<p>
							This study is designed to investigate the effects of different types of digital to-do list tools on productivity and motivation. 
						</p>
						<p>
							Your participation in this research is voluntary. You may refrain from answering any questions that make you uncomfortable and may quit the study at any time without penalty. 
	                	</p>
	                </div>
	                <div class="modal-footer">
	                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>	

	    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                    <h4 class="modal-title">Contact Information</h4>
	                </div>
	                <div class="modal-body">
	                	<p>
	                	If you have any questions about the study, feel free to contact Falk Lieder. He can be reached at falk.lieder@berkeley.edu. <br><br> If you have concerns about your rights as a participant in this experiment, please contact UC Berkeley's Committee for Protection of Human Subjects at (510) 642-7461 or subjects@berkeley.edu.” <br><br> For issues, bugs, or comments regarding this application and website, you may contact Owen Chen. He can be reached at owenchen@berkeley.edu
	                	</p>
	                </div>
	                <div class="modal-footer">
	                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>	
	    <!-- Quit experiment Modal -->
	    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                    <h4 class="modal-title">Quitting Experiment</h4>
	                </div>
	                <div class="modal-body">
						<p> Are you sure you want to quit the experiment for good? If you quit now, there will be no return. You will not be able to resume the experiment and you will not be able to earn the $20 bonus for completing the experiment. Instead, you will receive a much smaller bonus of $3 per hour that you worked on the tasks. If you choose to quit, please make sure to copy and paste or write down the following bonus code: </p>         
          				Your export code is:
	                    <br>
	                    <strong id="quit_code"> </strong>
	                    <br>
	                    <br>
		
	                    <p> To collect your bonus, please log in to Amazon Mechanical Turk, find the HIT called “Reimbursement for Todo List Experiment” by the requester “CoCoSci Lab at UC Berkeley” and paste this code.” </p>	                    
	                </div>
	                <div class="modal-footer">
	                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
	                    <a class="btn btn-info btn-md" href="/quit_experiment" role="button">Confirm</a>
	                </div>
	            </div>
	        </div>
	    </div>		    

	    <!-- Export Code modal	 -->
    	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                    <h4 class="modal-title">Export Code</h4>
	                </div>
	                <div class="modal-body">

			    <% if current_user.experimental_condition == "points condition" %>
				    Congratulations! You have earned a $20 bonus. To collect your bonus, please log into Amazon Mechanical Turk, find the HIT called "Reimbursement for Todo List Experiment", by the requester "CoCoSci Lab at UC Berkeley" and paste the code there. 
			    <% elsif current_user.experimental_condition == "monetary condition" %>
					The amount you have earned so far is displayed on the upper left corner. If this is the first time you have collected your bonus, you will be paid the current amount you have earned. If you have collected before, you will receive and additional bonus that you have earned since then. To collect your bonus, please log into Amazon Mechanical Turk, find the HIT called "Reimbursement for Todo List Experiment", by the requester "CoCoSci Lab at UC Berkeley" and paste the code there. 
			    <% elsif current_user.experimental_condition == "control condition" %>


			    <% else %>


			    <% end %> 
			    <br>
			    <br>
	                    Your export code is:
	                    <br>
	                    <strong id="export_code"> </strong>
	                    <br>
	                    <p> Use this code to redeem your rewards from the facilitator of this experiment.</p>
	                </div>
	                <div class="modal-footer">
	                    <button data-dismiss="modal" class="btn btn-success" type="button">Close</button>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>


<% if current_user.is_admin? %>
	<div class="admin-container container">
		<h3> Admin controls. </h3>
		<p> 
			This is only visible to users with "Admin status." Options to set the default experimental activities and to export all user and activity data. 
		</p>
		<h5>
			Instructions for facilitating activities for an admin:
		</h5>
		<ul>
			<li> Add activities with "New Activity" page, viewable only through admin access. This can be only granted if username is "Admin", and entering "/enable_admin/9128". </li>

			<li> Add up to max 10 activities, with correct content title, duration, score, completion code, and activity number </li>

			<li> Instruct experimentee's to create an account, click their account, and set their activities to get all the activities that an admin as set. </li>
		</ul>
		<br>
		 <%= link_to "Export Data", export_data_path(), :class => "btn btn-warning btn-md", :id => "export_data_btn" %> 
		 <%= link_to "Export User Data", export_user_data_path(), :class => "btn btn-success btn-md", :id => "export_user_data_btn" %> 
	</div>
<% end %>



<script>
	// Code Generation function
	var generate_code = function(){
		console.log("Generating code");

	  	$.get('/generate_code', function(data){    
	  		console.log("get request");
	  		console.log(data); 
	  		$("#export_code").html(data);
	  	});
	}

	var quit_generate_code = function() {
		console.log("Generating code for quitting");

	  	$.get('/generate_code', function(data){    
	  		console.log("get request");
	  		console.log(data); 
	  		$("#quit_code").html(data);
	  	});		
	}
</script>
