

<nav class="navbar nav-left">
    <div class="navbar-header">
<!--       <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <div class="navbar-brand">
        <%= link_to "ToDo List Experiment", root_path %>
      </div>
    </div>
    <div class="nav-body">
    	<div class="user-section">
    		<div class="user-panel">
                    <div class="pull-left image">
	    				<img src="<%= asset_path( 'avatar04.png' ) %>" id="avatar"  class="img-circle" alt="User Image"/>
				</div>
				<style>
					#user-description strong {
						
					}

				</style>
	    			<div class="pull-left info" id="user-description">
	    				<% if user_signed_in? %>
		    				<h4 id="user_name"> <%= current_user.user_name %> </h4>

		    				<!-- Psuedo Rewards with levels or points, or none displayed -->
		    				<% if current_user.experimental_condition == "Initial condition" %>
								<a href="#"><i class="fa fa-circle text-success"></i>  </a>	
								<br>	
								<a href="#"><i class="fa fa-circle text-info"></i>  </a>		
							<% elsif current_user.experimental_condition == "points condition" %>
								<a href="#"><i class="fa fa-circle text-success"></i><strong> Level: <%= current_user.level %>  </strong></a>	
								<br>	
								<a href="#"><i class="fa fa-circle text-info"></i> <strong> Score: <%= current_user.score%> </strong></a>
							<% elsif current_user.experimental_condition == "monetary condition" %>
								<a href="#"><i class="fa fa-circle text-success"></i> <strong> Level: <%= current_user.level %> </strong></a>	
								<br>	
								<a href="#"><i class="fa fa-circle text-info"></i> <strong> Money: $ <%= current_user.score.to_f / 10.0 %>0 </strong></a>										
							<% else %>
								<a href="#"><i class="fa fa-circle text-success"></i>  </a>	
								<br>	
								<a href="#"><i class="fa fa-circle text-info"></i>  </a>		
							<% end %>	
							<br>

							<!-- Level Name -->
							<% if current_user.experimental_condition == "Initial condition" %>
								 <span> </span> <!-- Empty -->
							<% elsif current_user.experimental_condition == "control condition" %>
								<span></span>
							<% else %>
										<!-- Level Name here -->
								<a href="#"><i class="fa fa-circle-o"></i>  
									<% if current_user.level == 1 %>
										Blind Mule
									<% elsif current_user.level == 2 %>
										Alert Dog
									<% elsif current_user.level == 3 %>
										Concentrated Cat
									<% elsif current_user.level == 4 %>
										Watchful Owl
									<% else %>
										Master of Attention
									<% end %>	
								</a>		
							<% end %>

		    			<% else %>
		    				<h5> Please log in </h5>
		    			<% end %>	
	    			</div>										
    		</div>
    	</div>

	    <div>
			<ul class="nav nav-custom-list">
			  <% if user_signed_in? %>
			  	<!-- Displays only if this user is the admin user -->
			  	<% if current_user.is_admin? %>
				    <li>
				       <%= link_to new_activity_path do %>
				       	 <i class="fa fa-dashboard"></i> <span> New Activity </span>
				       <% end %>
				    </li>
			    <% end %>
			    <!-- Path to user's personal activities -->
			    <li>
			      <%= link_to my_activities_activity_path(current_user) do %>
			      	<i class="fa fa-gavel"></i> <span> My Tasks </span>
			      <% end %>
			    </li>

			    <li>
			      <%= link_to user_details_activity_path(current_user) do %>
			      	<i class="fa fa-globe"></i> <span> Account </span>
			      <% end %>
			    </li>
			    <li>
			      <%= link_to destroy_user_session_path, method: :delete do %>
			      	<i class="fa fa-glass"></i><span> Logout </span>
			      <% end %>
			    </li>
			  <% else %>
			    <li class="active">
			      <%= link_to new_user_session_path do %>
			      	<i class="fa fa-globe"></i> <span> Log in </span>
			      <% end %>
			    </li>
			    <li>
			      <%= link_to new_user_registration_path do %>
			      	<i class="fa fa-glass"></i><span> Register </span>
			      <% end %>
			    </li>
			  <% end %>
			</ul>
	    </div>	
	</div>

</nav>

<script>
	//Fix the active nav element bug
	$("ul.nav li").click(function(){
		$("ul.nav li").removeClass("active");		
		$(this).addClass("active");
	});

</script>


<!-- 
<nav class="navbar navbar-default">
  <div class="container-fluid navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "Cognitive Mastery", root_path %>
      </div>
    </div>
    
  </div>
</nav>
 -->
