<!DOCTYPE html>
<html>
<head>
  <title>CognitiveMastery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<style>
	.nav-left-container {
		position: fixed;
		border: 1px solid green;
		height: 100%;
		width: 20%;
		left: 0;
		overflow: hidden;
	}

	.app-container {
		position: absolute;
		height: 100%;
		width: 80%;
		left: 20%;
		border: 1px solid blue;

	}

</style>

<div class="nav-left-container">
	<%= render 'layouts/navbar' %> 
</div>

<div class="app-container">
	<%= yield %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>





</body>
</html>
